<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/style.css" />
    <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css" />
    <title>Invoices</title>
  </head>
  <body>
    <div id="main">
      <div id="header">
	<div id="icon">
	  <i class="fa fa-paperclip fa-5x"></i>
	</div>
	<div id="nav">
	  <ul>
	    <li><a href="#matched_invoices">Matched Invoices</a></li>
	    <li><a href="invoices">Invoices</a></li>
	    <li><a href="#prizes">Prizes</a></li>
	    <li><a href="invoice_add">Add Invoice</a></li>
	  </ul>
	</div>
      </div>
      <div id="content">
	<div class="container">
	  {% block content %}{% endblock %}
	</div>
      </div>
      <div id="footer">
      </div>
    </div>
  </body>
</html>
