{% extends 'base.html' %}
{% block content %}
<h2>Prizes</h2>
<p>Last update date: {{ prizes_update_date }}<form method="POST" action="prizes_update"><button class="btn btn-default" type="submit">Update</button></form></p>
{% for prizes in prizesgroup %}
<h3>{{ prizes[0].year }} / {{ prizes[0].get_formatted_month() }}</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Prize</th>
    </tr>
  </thead>
  <tbody>
    {% for prize in prizes %}
    <tr>
      <td>{{ prize.get_type_name() }}</td>
      <td>{{ prize.number }}</td>
      <td>{{ prize.get_formatted_prize() }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %}
<div class="pagination">
  {% if pagination.get_current_page() > 1 %}
  <a href="?page={{ pagination.get_current_page() - 1 }}&per_rows={{ pagination.get_per_rows() }}">Previous</a>
  {% endif %}
  {% for page in range(pagination.get_pagination_from_page(), pagination.get_pagination_to_page() + 1) %}
  {% if page == pagination.get_current_page() %}
  <span class="current_page">{{ page }}</span>
  {% else %}
  <a href="?page={{ page }}&per_rows={{ pagination.get_per_rows() }}">{{ page }}</a>
  {% endif %}
  {% endfor%}
  {% if pagination.get_current_page() != pagination.get_total_pages() %}
  <a href="?page={{ pagination.get_current_page() + 1 }}&per_rows={{ pagination.get_per_rows() }}">Next</a>
  {% endif %}
</div>
{% endblock %}
